# vim:filetype=zsh
{{- $overlayFile := joinPath "overlays" .chezmoi.hostname "dot_zshrc.yaml" }}
{{- $overlay := dict }}
{{- if stat $overlayFile }}
{{- $overlay = include $overlayFile | fromYaml }}
{{- end }}
export ZSH="$HOME/.oh-my-zsh"

ZSH_THEME="af-magic"

# Plugins loaded
# Standard plugins can be found in $ZSH/plugins/
# Custom plugins may be added to $ZSH_CUSTOM/plugins/
plugins=(
  chezmoi
  docker
  docker-compose
  git
  mise
  npm
  pip
  tmux
  z
  {{ join "\n  " (default (list) (get $overlay "plugins")) }}
)

{{ if stat "/opt/homebrew/bin/brew" -}}
# Needs Homebrew before omz is reload on MacOS for some plugins
export FPATH="$(/opt/homebrew/bin/brew --prefix)/share/zsh/site-functions:${FPATH}"
export PATH="$PATH:/opt/homebrew/bin"
eval "$(/opt/homebrew/bin/brew shellenv)"
{{- end }}

source $ZSH/oh-my-zsh.sh

{{ if stat "/opt/homebrew/bin/op" -}}
eval "$(op completion zsh)"; compdef _op op
{{- end }}

export PATH=$PATH:{{ default (list) (get $overlay "paths") | join ":" }}

# Aliases
alias cp="cp -i"
{{ range $k, $v := default (list) (get $overlay "aliases") -}}
alias {{ $k }}="{{ $v }}"
{{ end }}
