# vim:filetype=toml
{{- $overlay := dict }}
{{- $overlayFile := joinPath "overlays" .chezmoi.hostname "dot_config/mise/config.toml" -}}
{{- if stat $overlayFile -}}
{{- $overlay = (fromToml (include $overlayFile)) -}}
{{- end }}

[settings]
{{- if get $overlay "settings" }}
{{ $overlay.settings | toToml }}
{{ else }}
idiomatic_version_file_enable_tools = ["python"]
{{- end }}

[tools]
usage = "latest"
neovim = "0.12.2"
uv = "0.11.24"
tree-sitter = "v0.26.9"
ripgrep = "15.1.0"
lazygit = "v0.62.2"
node = "24"
python = "3.13"
jq = "1.8.2"
yq = "4.53.3"
{{ if get $overlay "tools" }}
# hostname: {{ .chezmoi.hostname }}
{{ $overlay.tools | toToml }}
{{- end -}}
